doctype html
html

    script(src='javascripts/jquery.min.js')

    script(type='text/javascript').

        $(document).ready(function(){

            setTimeout(function(){
                window.close
            }, 2000)

        })


    div
        strong Autenticação realizada com sucesso!

