extends layout_login

block content

  style(type="text/css").
    
    #container_login{
      margin:0 auto;
    }

    #conversation{

      height:500px;
      overflow:auto;
      background:ghostwhite;
    }

    #chat{
      width: 100%
    }

    #name{
      margin-bottom:15px;
    }

    #enviar{
      background: gainsboro
    }

    body{
      padding:50px;
    }
  
  script(type="text/javascript").
  
    $(document).ready(function(){

      $('#chat').on('keydown', function(event){

        if(event.which == 13){

          var msg = $(this).val()
          var name = $('#name').val()

          $.ajax({
            url: 'add_message',
            data:{
              msg:msg,
              name:name
            }
          })

          $(this).val('')

        }


      })

      $('#enviar').click(function(e){

        e.preventDefault()

        var msg = $('#chat').val()
        var name = $('#name').val()

        $.ajax({
          url: 'add_message',
          data:{
            msg:msg,
            name:name
          }
        })

        $('#chat').val('')

      })

      window.setInterval(function() {
        var elem = document.getElementById('conversation');
        elem.scrollTop = elem.scrollHeight;
      }, 150);

      setInterval(function(){

        var promise = $.ajax({
          url: 'get_conversation'
        })

        promise.then(function(result){

          //- console.log(result)
          
          var msg = ''
          var html = ''

          result.forEach(function(value, index){

            html += '<h3h1>' + value.name + ':</h3><br />'
            html += '<span>' + value.msg + '</span>'
            html += '<hr />'

          })



          $('#conversation').html(html)

        })
        	

      }, 1000)
      
      
    })  

  
  div(style=)
    //- div(class='col-xs-5' id='container_login_main')
    //-   div(class='panel panel-default' id='container_login')
    //-     .panel-heading
    //-       h3.panel-title.text-center Login
    //-     .panel-body
    //-       form(accept-charset='UTF-8', role='form' id='frm_login')
    //-         fieldset
    //-           .form-group
    //-             input.form-control(placeholder='Usuario', name='email', type='text')
    //-           .form-group
    //-             input.form-control(placeholder='Senha', name='password', type='password', value='')
    //-           .checkbox
    //-             label
    //-               input(name='remember', type='checkbox', value='Lembre me')
    //-               |  Lembre me
    //-           input.btn.btn-lg.btn-success.btn-block.btn-login(type='submit', value='Login')
    input(type='text' id='name' placeholder="Nome Usuario")
    br
    div(id='conversation')
    br
    textarea(id='chat')
    br
    input(id='enviar' type='button' value="Enviar")
